<div id="container">
    <mat-card *ngIf="product" class="product-card">
        <img mat-card-image src="{{product.defaultImage}}" alt="Photo of a product">
        <mat-card-content>
            <mat-card-title>{{product.name}}</mat-card-title>
            <mat-card-subtitle>{{product.price}}</mat-card-subtitle>
            <p>
                {{product.description}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent" (click)="addItemToCart()">
                <mat-icon>add_shopping_cart</mat-icon>
                Add to cart
            </button>
            <button mat-raised-button color="primary" (click)="goBack()">
                <mat-icon>storefront</mat-icon>
                Continue shopping
            </button>
        </mat-card-actions>
    <label style="color: blue; font-weight: bold;">{{msg}}</label>
    </mat-card>
</div>